.thumbnail {
  width: 300px;
  display: block;
}
.search-bar {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.video-title {
  width: 300px;
}
.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
