.first,
.last {
  width: 70px;
  padding-left: 10px;
  border-radius: 5px;
  border-style: solid;
}

.mail {
  width: 160px;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  padding-left: 10px;
}
.signUp {
  width: 175px;
  color: white;
  background-color: rgb(28, 125, 209);
  border: none;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}
